@charset "UTF-8";
@import "cw_layout.css";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Nayeli Arrieta 
   Date:   9/16/19
   
   Filename: cw_styles.css

*/


/* Structural Styles */
html{
   background-color: rgb(151,151,151);
}
body{
   background-color: rgb(180, 180, 223);
   font-family: Verdana, Geneva, sans-serif;
}
h1, h2{
   font-weight: normal;
}
nav > ul {
   text-decoration:none;
}
footer{
   color: white;
   background-color: rgb(101,101,101);
   font-size: 0.8em;
   text-align:center;
   padding-top: 1px;
   padding-bottom: 1px;
}
/* Body Header Styles */
body > header{
   background-color: rgb(97,97, 211);
}
body > header > h1 {
   font-size: 4vw;
   color: rgba(255, 255, 255, 0.8);
   font-family: Limelight, cursive;
   margin: 0px;
}
body > header > h1 > span {
   color:rgba(255, 255, 255, 0.4);
}

/* Navigation Styles */
nav#mainlinks{
   padding-top: 5px;
   padding-bottom: 5px;
}
nav#mainlinks a:visited a:link{
   font-family: white;
} 
nav#mainlinks a:hover a:active{
   font-family: white;
   opacity:0.8;
   background-color: rgba(51, 51, 51, 0.5);
}

/* Outline Styles */
nav#outline {
   color:rgb(51,51,51);
   font-size:0.8em;
}
h1{
   text-align: center;
}
nav#outline > ol{
   line-height: 2em;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 5px;
   margin-right: 5px;
   list-style-type:upper-roman;
}
 nav#outline > ol{
    list-style:upper-alpha;
 }
 nav#outline a:hover a:active{
    color:rgb(97,97,211);
   text-decoration: underline;
 }
/* Section Styles */
/* Changes the sections color*/
section{
   background-color: rgb(220, 220, 220);
}
section > header > h1{
   font-size:2.2em;
   padding-left: 10px;
}



/* Article Styles */
article h2{
   font-size:1.4em;
}
article p:first-of-type::first-letter{
   font-size:2em;
   vertical-align: baseline;
}


/* Aside Styles */
aside{
   font-size:0.9em;
}
aside h1{
   font-size:1.4em;
   text-align:center;
}